@tailwind base;
@tailwind components;
@tailwind utilities;




body {
    height: 100vh;
    box-sizing: border-box;
    padding-top: 45px;
    width: 100%;
    background: linear-gradient(to bottom right, rgb(57,171,122) , rgb(47,66,80));
}

input{
    outline: none;
}

.li-item{
    position: relative;
    width: 100%;
    padding: 0 0 15px 10px;
    background: white;
    
    margin: 3px 0 3px 0;

}



#no-tasks-message{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    color: rgb(54, 54, 54);
}





.pairOfButtons{
    position: absolute;
    height: fit-content;
 
    top: 0;
    bottom: 0;
    margin: auto;
    right: 10px;
}

.delete-btn, .update-btn{
    padding: 3px 10px 3px 10px;
    background-color: #a0392f;
    font-weight: 700;
    color: white;
}

.update-btn{
    background-color: #357686;
    margin-right: 5px;
}

.par-div{
    width: 70%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 10px;
}

.status-div{
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    background-color: red;
    height: 100%;
}